*.mp4 filter=lfs diff=lfs merge=lfs -text
planning_site_qped_only/**/*.glb filter=lfs diff=lfs merge=lfs -text
planning_site_qped_only/**/*.bin filter=lfs diff=lfs merge=lfs -text
planning_site_qped_only/**/*.jpg filter=lfs diff=lfs merge=lfs -text
